html {
    image-rendering: pixelated;
    cursor: url("pointer.cur")0 0, auto;
}
body {
    background-color: #000000;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
}
p {
    font-size: 18px;
}
.violet {
    color: rgb(110, 0, 255);
}
a {
    color: #00ffff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    cursor: url("link.cur")6 0, auto;
}
a:hover {
    color: #007575;
}
hr {
    border-width: 0;
    height: 2px;
    background: repeating-linear-gradient(to right, #00ffff, #000000, #00ffff);
    animation: hr 4s linear infinite;
}
@keyframes hr {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 3600px 0;
    }
}
.ring {
    position: fixed;
    background-image: url(ring.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2048px;
    height: 2048px;
    animation: spin 60s linear infinite;
}
@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
